/.idea/
/doc/
/nbproject/
/node_modules/
/tmp/
/vendor/
.DS_Store
.htaccess
.vscode
config.php
*.lock
package-lock.json

# Archivos de caché y logs
/var/cache/
/var/log/
*.log

# Archivos generados por Symfony
*Config.php
proxy-classes.php
removed-ids.php
FSFramework_KernelDevDebugContainer.php

# Excluir plugins excepto adminlte y business_data
/plugins/*
!/plugins/adminlte/
!/plugins/business_data/
!/plugins/example_twig/

.env
