includes:
    - vendor/dev-tools/phpstan/phpstan-symfony/extension.neon
    - vendor/dev-tools/phpstan/phpstan-doctrine/extension.neon
    - vendor/dev-tools/shipmonk/dead-code-detector/rules.neon

parameters:
    customRulesetUsed: true
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - phpstan-bootstrap.php
    tmpDir: tmp/phpstan-dead-code
    scanDirectories:
        - base
        - controller
        - model
        - plugins
        - src
        - tests
    paths:
        - api.php
        - cron.php
        - debug_loader.php
        - index.php
        - install.php
        - src
        - base
        - controller
        - model
        - plugins
        - tests
        - updater.php
        - visual_flow_demo.php
    ignoreErrors:
        -
            message: '#^Unused FSFramework\\Api\\Helper\\RequestHelper\:\:(getJsonInput_legacy|getIntParam|getBoolParam)\b#'
            path: %currentWorkingDirectory%/src/Api/Helper/RequestHelper.php
        -
            message: '#^Unused FSFramework\\Plugins\\api_base\\Api\\Helper\\ResponseHelper\:\:(sendSuccess|sendError|sendJson|sendCreated|sendServerError)\b#'
            path: %currentWorkingDirectory%/plugins/api_base/Api/Helper/ResponseHelper.php
        -
            message: '#^Unused FSFramework\\Core\\Router\:\:(generateLegacyUrl|clearCache)\b#'
            path: %currentWorkingDirectory%/src/Core/Router.php
        -
            message: '#^Unused FSFramework\\Core\\Router\:\:(generate|getRoutes)\b#'
            path: %currentWorkingDirectory%/src/Core/Router.php
        -
            message: '#^Unused FSFramework\\Core\\StealthMode\:\:(isPublicHomepageRequest|isExemptRoute)\b#'
            path: %currentWorkingDirectory%/src/Core/StealthMode.php
        -
            identifier: shipmonk.deadProperty.neverRead
            path: %currentWorkingDirectory%/src/Core/Base/Controller.php
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/src/Core/Base/Controller.php
        -
            identifier: shipmonk.deadProperty.neverRead
            path: %currentWorkingDirectory%/src/Core/Base/ControllerPermissions.php
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/src/Core/Tools.php
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/src/Core/UploadedFile.php
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/src/Database/DbalConnectionFactory.php
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/src/DependencyInjection/Container.php
        -
            message: '#^Unused FSFramework\\Security\\SessionManager\:\:__clone\b#'
            path: %currentWorkingDirectory%/src/Security/SessionManager.php
        -
            identifier: shipmonk.deadProperty.neverRead
            path: %currentWorkingDirectory%/src/Dinamic/Model/User.php
        -
            identifier: shipmonk.deadProperty.neverWritten
            path: %currentWorkingDirectory%/src/Dinamic/Model/User.php
        -
            identifier: shipmonk.deadConstant
            path: %currentWorkingDirectory%/src/Event/ControllerEvent.php
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/src/Event/ControllerEvent.php
        -
            message: '#^Unused FSFramework\\Core\\Template\\InitClass\:\:(uninstall|loadExtension)\b#'
            path: %currentWorkingDirectory%/src/Core/Template/InitClass.php
        -
            message: '#^Unused FSFramework\\Core\\ThemeManager\:\:getAvailableThemes\b#'
            path: %currentWorkingDirectory%/src/Core/ThemeManager.php
        -
            identifier: shipmonk.deadProperty.neverRead
            path: %currentWorkingDirectory%/base/*
        -
            identifier: shipmonk.deadProperty.neverWritten
            path: %currentWorkingDirectory%/base/*
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/base/*
        -
            identifier: shipmonk.deadConstant
            path: %currentWorkingDirectory%/base/*
        -
            identifier: shipmonk.deadEnumCase
            path: %currentWorkingDirectory%/base/*
        -
            identifier: shipmonk.deadProperty.neverRead
            path: %currentWorkingDirectory%/controller/*
        -
            identifier: shipmonk.deadProperty.neverWritten
            path: %currentWorkingDirectory%/controller/*
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/controller/*
        -
            identifier: shipmonk.deadConstant
            path: %currentWorkingDirectory%/controller/*
        -
            identifier: shipmonk.deadEnumCase
            path: %currentWorkingDirectory%/controller/*
        -
            identifier: shipmonk.deadProperty.neverRead
            path: %currentWorkingDirectory%/model/*
        -
            identifier: shipmonk.deadProperty.neverWritten
            path: %currentWorkingDirectory%/model/*
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/model/*
        -
            identifier: shipmonk.deadConstant
            path: %currentWorkingDirectory%/model/*
        -
            identifier: shipmonk.deadEnumCase
            path: %currentWorkingDirectory%/model/*
        -
            identifier: shipmonk.deadProperty.neverRead
            path: %currentWorkingDirectory%/model/*/*
        -
            identifier: shipmonk.deadProperty.neverWritten
            path: %currentWorkingDirectory%/model/*/*
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/model/*/*
        -
            identifier: shipmonk.deadConstant
            path: %currentWorkingDirectory%/model/*/*
        -
            identifier: shipmonk.deadEnumCase
            path: %currentWorkingDirectory%/model/*/*
        -
            identifier: shipmonk.deadProperty.neverRead
            path: %currentWorkingDirectory%/plugins/*/*
        -
            identifier: shipmonk.deadProperty.neverWritten
            path: %currentWorkingDirectory%/plugins/*/*
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/plugins/*/*
        -
            identifier: shipmonk.deadConstant
            path: %currentWorkingDirectory%/plugins/*/*
        -
            identifier: shipmonk.deadEnumCase
            path: %currentWorkingDirectory%/plugins/*/*
        -
            identifier: shipmonk.deadProperty.neverRead
            path: %currentWorkingDirectory%/plugins/*/*/*
        -
            identifier: shipmonk.deadProperty.neverWritten
            path: %currentWorkingDirectory%/plugins/*/*/*
        -
            identifier: shipmonk.deadMethod
            path: %currentWorkingDirectory%/plugins/*/*/*
        -
            identifier: shipmonk.deadConstant
            path: %currentWorkingDirectory%/plugins/*/*/*
        -
            identifier: shipmonk.deadEnumCase
            path: %currentWorkingDirectory%/plugins/*/*/*
    shipmonkDeadCode:
        usageExcluders:
            tests:
                enabled: true
