<div class="alert alert-info" style="margin-top: 15px;">
    <i class="fa fa-info-circle"></i>
    La tienda de plugins públicos ya no forma parte del núcleo. Se gestiona desde el plugin <b>system_updater</b>.
</div>

<p>
    <a href="index.php?page=admin_plugin_store" class="btn btn-primary">
        <i class="fa fa-shopping-cart"></i>&nbsp; Abrir tienda de plugins
    </a>
</p>
