<div class="alert alert-info" style="margin-top: 15px;">
    <i class="fa fa-info-circle"></i>
    {{ trans('plugin-store-moved-to-system-updater') }}
</div>

<p>
    <a href="index.php?page=admin_plugin_store" class="btn btn-primary">
        <i class="fa fa-shopping-cart"></i>&nbsp; {{ trans('open-plugin-store') }}
    </a>
</p>
