<div class="alert alert-info" style="margin-top: 15px;">
    <i class="fa fa-info-circle"></i>
    {{ trans('private_plugins_managed_in_updater', {'%plugin%': '<b>system_updater</b>'})|raw }}
</div>

<p>
    <a href="index.php?page=admin_plugin_store&tab=private" class="btn btn-primary">
        <i class="fa fa-lock"></i>&nbsp;{{ 'open_private_store'|trans }}
    </a>
</p>
